.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox__imageInput {
  display: flex;
  align-items: center;
  width: 36px;
  height: 36px;
  position: relative;
}
.tweetBox__imageInput > input {
  cursor: pointer;
  opacity: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}

.tweetBox__imagePreview {
  position: relative;
  /*padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
  padding-top: 100%;
  overflow: hidden;
  display: inline-block;
}
.tweetBox__imagePreview > img {
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
  max-height: 100%; /* Ensure the image doesn't exceed the height of the container */
  object-fit: cover; /* Crop and cover the entire container */
}

.tweetBox__deleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.icon {
  display: flex;
  padding: 20%;
}
.element {
  padding: 30% !important;
}

.post-area-bottom > button:hover {
  background-color: #1990d8;
}
.post-area-bottom > .icon-row>  button {
  background-color: transparent;
}
.post-area-bottom{
  display: flex;
  flex-direction: row;
  flex: 1;
}